services:
  frontend:
    container_name: frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
