services:
  frontend:
    env_file:
      - .env
    container_name: frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped
  api:
    env_file:
      - .env
    container_name: api
    build:
      context: api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
    networks:
      - app-network
    restart: unless-stopped
  backend:
    env_file:
      - .env
    container_name: backend
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "7070:7070"
    environment:
      - SERVER_PORT=7070
    networks:
      - app-network
    depends_on:
      - api
    restart: unless-stopped
networks:
  app-network:
    name: app_network
    driver: bridge
