services:
  frontend:
    container_name: weather-api-frontend
    env_file:
      - .env
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped
  api:
    container_name: weather-api-api
    env_file:
      - .env
    build:
      context: api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped
  backend:
    container_name: weather-api-backend
    env_file:
      - .env
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "7070:7070"
    environment:
      - SERVER_PORT=7070
    networks:
      - app-network
    depends_on:
      - postgres
    restart: unless-stopped
  postgres:
    container_name: weather-api-postgres
    env_file:
      - .env
    build:
      context: database
      dockerfile: Dockerfile
    networks:
      - app-network

networks:
  app-network:
    name: app_network
    driver: bridge
